#revue-embed { margin: 10px 0 20px 0; }

#revue-embed input.revue-form-field {
  font-size: 1.2em;
  border: 1px solid #d9d9d9;
  padding: 0.4em !important;
  width: 55%;
  margin: 0 10px 0 0;
  display: inline;
}

#revue-embed input#member_submit {
  font-size: 1.2em;
  padding: 0.4em !important;
}
