section a:hover { font-weight: inherit !important; text-decoration: underline;}

#revue-embed { margin: 10px 0 20px 0; }

div#revue-embed.featured-box {
  margin: 10px 0 20px 0;
  background: #f1f1f1;
  padding: 1.5em;
  border: 1px solid #d1d1d1;
  text-align: center;
}

div#revue-embed.featured-box input.revue-form-field {  border: 1px dotted #a1a1a1; }

#revue-embed input.revue-form-field {
  font-size: 0.9em;
  color: #a1a1a1;
  border: 1px dotted #d9d9d9;
  padding: 0.6em !important;
  width: 55%;
  margin: 0 10px 0 0;
  display: inline;
}

#revue-embed input[type=submit]#member_submit {
  font-size: 0.9em;
  border: 1px solid #0072cf;
  padding: 0.6em;
  color: #fff;
  background: #277bba;
}
