---
---

@import "{{ site.theme }}";

body {
    background-color: #fff;
    padding: 50px;
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #727272;
    font-weight: 400
}

section a:hover { font-weight: inherit !important; text-decoration: underline;}

.title {
font-family: futura-pt, sans-serif !important;
font-weight: 400;
color: #0533DA !important;
font-style: normal;
text-transform: uppercase !important;
font-size: 35px !important;
}

.title a {
    color: #0533DA !important;
    text-decoration: none;
}

.title a:hover,
a:focus {
    color: #05269f !important;
    font-weight: normal !important;
}


a {
    color: #0533DA !important;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #05269f !important;
    font-weight: normal !important;
}

header a {
  color: #FFF;
  padding: 0.1em;
  background: #d1d1d1;
}

header a:hover, header a:focus {
  color: #FFF;
  padding: 0.1em;
  background: #a1a1a1;
}
