---
---

@import "{{ site.theme }}";

.menu {
all: unset;
margin: 0;
}
.menu ul {
  list-style-type: none !important;
}
.menu li {
  text-transform: uppercase !important;
  font-size: 0.8em !important;
}
